<img src="http://clipart-library.com/data_images/149301.png" class='burger'>
<h1 class='header'>Eat a Delicious Burger</h1>
<form class='burger-form'>
    <textarea class="burger-name" rows=6 cols=55 placeholder="Enter the name of a burger"></textarea>
    <input class="submit" type="submit">
</form>
<span>
    {{#each burgers}}
    {{#if devoured}}
    <div class='dev-container'>
        -- {{burger_name}}
    </div>
    {{else}}
    <div class='burg-container'>
        -- {{burger_name}} <button data-id="{{id}}" class='devour-btn'>Devour</button>
    </div>
    {{/if}}
    {{/each}}
</span>